<app-layout>
  <nz-card class="welcome-card" nzTitle="Welcome to Dashboard">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <p>Welcome back, {{ username || 'Guest' }}! You have successfully logged in.</p>
      </div>
    </div>
  </nz-card>

  <nz-card class="test-endpoints-card" nzTitle="Endpoint Testing">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <button 
          nz-button 
          nzType="primary" 
          (click)="getUserSites()"
          style="width: 100%; margin-bottom: 16px;"
        >
          Get User Sites
        </button>
        
        <div *ngIf="userSites.length > 0" style="max-height: 500px; overflow-y: auto;">
          <nz-table 
            [nzData]="userSites" 
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>Site Code</th>
                <th>Site Name</th>
                <th>Province</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Project Type</th>
                <th>MWAC</th>
                <th>MWDC</th>
                <th>Time Zone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let site of userSites">
                <td>{{ site.site_code }}</td>
                <td>{{ site.site_name }}</td>
                <td>{{ site.province }}</td>
                <td>{{ site.country }}</td>
                <td>{{ site.latitude }}</td>
                <td>{{ site.longitude }}</td>
                <td>{{ site.project_type }}</td>
                <td>{{ site.mwac }}</td>
                <td>{{ site.mwdc }}</td>
                <td>{{ site.tz_name }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>

    <div *ngIf="errorMessage" style="color: red; margin-top: 16px;">
      {{ errorMessage }}
    </div>
  </nz-card>
</app-layout>