.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-side {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 40%;
  height: auto;
}

.right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.login-content {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

/* Title styling */
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}

/* Microsoft button styling */
.ms-button {
  width: 100%;
  margin-bottom: 16px;
  font-weight: 500;
  border: 1px solid #0066ff;
  color: #0066ff;
  background-color: transparent;
}

.ms-button:hover {
  background-color: rgba(0, 102, 255, 0.1); 
  color: #0066ff;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
  }

  span {
    padding: 0 10px;
    color: #666;
    font-size: 14px;
  }
}

.form-container {
  background-color: transparent; /* Could also be transparent if you want */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.signin-btn {
  font-weight: 600;
  text-transform: uppercase;
}

.ms-button,
.signin-btn {
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

:host ::ng-deep .ant-input {
  border-radius: 8px !important;
}

.error-message {
  color: #ff4444;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  text-align: center;
}

// Add these styles to your existing SCSS file

.tfa-setup {
  text-align: center;
  margin-bottom: 20px;
}

.qr-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.back-btn {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.back-btn:hover {
  color: #595959;
  border-color: #595959;
}
